.input {
    display: flex;
    color: #09F;
    background-color: #000;

    &-input {
        border: 2px solid #09F;
        background-color: inherit;
        color: inherit;
    }

    &-label {
        margin-right: 5px
    }
}